
 
        <tr>
          <td><%= item.description%></td>
          <td><%= time_ago_in_words(item.created_at + 1.hour)%> till deletion</td>
          <td>Completed: <%= link_to [item.todo, item], method: :delete do%><input type="checkbox"><% end %></td>
        </tr>
        
