
<table class="table table-striped table-hover ">
<%= todo.title %>
<%= link_to "Delete", todo, method: :delete%> 
  <tbody>
    <tr>
      <td>1</td>
      <td></td>
      <td><%= item.description %></td>
    </tr>
    <tr>
      <td>2</td>
      <td><%= item.due_date %></td>
      <td>Column content</td>
    </tr>
  </tbody>
</table> 
