<h1><%= link_to "#{@user.name}'s Lists", users_path %></h1>
<%= link_to "New Todo", new_todo_path(@todo), class: 'btn btn-success' %>
<div class="col-md-4">
  

<table class="table table-striped table-hover ">
<p><%= @todo.title %></p>
  <tbody>
    <tr>
      <td>1</td>
      <td></td>
      <td>Column content</td>
    </tr>
    <tr>
      <td>2</td>
      <td><%= render partial: 'items/item', collection: @items %></td>
      <td>Column content</td>
    </tr>
  </tbody>
</table> 
