<br/>
<div class="jumbotron">
  <h1 class="text-center">Taskle</h1>
  <p class="text-center">Create your own <b><%= link_to "To Do List", new_todo_path  %></b></p>
  <p class="text-center">
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary btn-sm' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary btn-sm' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Self deletin lists</h2>
    <p>After 7 days list is deleted.</p>
  </div>
  <div class="col-md-4">
    <h2> Add Items </h2>
    <p>As many items as you want on a to do list</p>
  </div>
  <div class="col-md-4">
    <h2>Get stuff done</h2>
    <p>Be efficient and keep to the task.</p>
  </div>
</div>